<script defer>on_comp_lode(this, comp)</script>
<link rel="stylesheet" href="css\styles_dallins_defaults.css" />
<link rel="stylesheet" href="css\styles_dallins_defaults_md.css" />
<link rel="stylesheet" href="css\styles_dallins_defaults_lg.css" />
<link rel="stylesheet" href="css\styles.css" />

<section class="">
    #{rrr}
</section>

<style>
</style>

<script>
    {
        // comp
        // comp_host
        // comp_data
        console.log(comp);
        console.log(comp_host);
        console.log(comp_data);
    }
</script>