<div class="">
   <script defer>on_comp_lode(this, comp)</script>
   <link rel="stylesheet" href="css\styles_dallins_defaults.css" />
   <link rel="stylesheet" href="css\styles_dallins_defaults_md.css" />
   <link rel="stylesheet" href="css\styles_dallins_defaults_lg.css" />
   <link rel="stylesheet" href="css\styles.css" />





   <div class="bg-color-dark-blue ">
      asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasasdasddasdasdds sss

      <div class="">
        
      </div>
   </div>
</div>