
    <script defer>on_comp_lode(this, comp)</script>
    <div class="$bg-color-green  pop" id="waffles999">
        waffles are the very best <br>
        asdasdasdasdasdasdasdasdds
        <div class="pop2">
            #{test}
            <div class="">
                gggggggggggggg
            </div>
        </div>
        <div comp="test2">

        </div>

    </div>
    <div class="$bg-color-m  pop" id="waffles999">
        waffles are the very best
        <br>
        asdasdasdasdasdasdasdasdds-------------
        <div comp="test2">

        </div>
    </div>
    <div class="$bg-color-green  pop" id="waffles999">
        waffles are the very best
        <br>
        asdasdasdasdasdasdasdasdds
        <div comp="test2">

        </div>
    </div>
    <div class="$bg-color-hd  pop" id="waffles999">
        waffles are the very best
        <br>
        asdasdasdasdasdasdasdasdds
        <span data-live="age"></span>
        <div comp="test2">

        </div>
    </div>

    <script>
        {
            // console.log(comp);
            // console.log(comp_host);
            // console.log(comp_data);
        }
    </script>


    <link rel="stylesheet" href="css\styles_dallins_defaults.css" />
    <link rel="stylesheet" href="css\styles_dallins_defaults_md.css" />
    <link rel="stylesheet" href="css\styles_dallins_defaults_lg.css" />
    <link rel="stylesheet" href="css\styles.css" />
